################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio21/.vs/Laboratorio21
/Laboratorio21
/Laboratorio3/.vs/Laboratorio3
